/* Style for the header */
header {
   background-color: grey; /* Set background color */
   color: rgb(255, 255, 255); /* Set text color */
 }

/* Style for the navigation bar */
 nav {
   background-color:grey; /* Set background color */
   color: white; /* Set text color */
 }

/* Style for navigation links */
 nav a {
   color: #fff; /* Set link text color */
 }

/* Style for navigation links on hover */
 nav a:hover {
   background-color:blueviolet; /* Set background color on hover */
 }
 
/* Style for the container */
 .container {
   background-color: #fff; /* Set background color */
   border-radius: 10px; /* Add rounded corners */
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Add shadow */
 }
 
/* Style for sections */
 .section {
   background-color: #f9f9f9; /* Set background color */
   padding: 20px; /* Add padding */
   border-radius: 5px; /* Add rounded corners */
   margin-bottom: 20px; /* Add margin at the bottom */
 }
 
/* Style for table header and rows */
 table {
   background-color: #fff; /* Set background color */
 }
 th {
   background-color: #ffcc66; /* Set background color */
 }
 tr:nth-child(even) {
   background-color: #f2f2f2; /* Set alternate row background color */
 }
 
/* Style for the subscribe section */
 .subscribe {
   background-color: #ffcc66; /* Set background color */
   padding: 20px; /* Add padding */
   text-align: center; /* Center-align text */
   border-radius: 10px; /* Add rounded corners */
 }
 .subscribe h2 {
   color: #333; /* Set heading text color */
 }
 .subscribe p {
   color: #666; /* Set paragraph text color */
 }
 .subscribe input[type="email"] {
   color: #333; /* Set input text color */
   background-color: #fff; /* Set input background color */
   border: 1px solid #ccc; /* Add border */
   border-radius: 5px; /* Add rounded corners */
   padding: 10px; /* Add padding */
   width: 80%; /* Set width */
   margin-bottom: 10px; /* Add margin at the bottom */
 }
 .subscribe input[type="submit"] {
   background-color: #ff6600; /* Set background color */
   color: white; /* Set text color */
   border: none; /* Remove border */
   border-radius: 5px; /* Add rounded corners */
   cursor: pointer; /* Set cursor to pointer */
   padding: 10px 20px; /* Add padding */
 }
 .subscribe input[type="submit"]:hover {
   background-color: #ff9900; /* Set background color on hover */
 }

